body{
    font-family: gabriola;
    background-color: #03153A;
    height: 100%; 
    margin: 0;
    padding: 0;
    color: white;
}
.gomb{
  background-color: #1E283F;
  display: inline-block;
  width: 150px;
  top: 0;
}

.gomb a{
  color: white !important;
  font-size: 25px;
  vertical-align: middle;
  padding-left: 5px;
  text-decoration: none;
}
.cim{
  background-image:url(cimhatter_3.jpg);
  font-family: berlin sans fb;
  font-variant: small-caps;
  font-size: 210px;
  color:black;
  line-height: normal;
  text-align: center;
  padding-bottom: -20px;
  margin: 20px;
  box-shadow: #000 2px 2px 8px;
  position: relative;
  margin-top: 80px;
  
}
.icon{
    float: left;
    width: 100px;
    position: relative;
    top: 0; 
}

.szoveg{
  margin-left: 80px;
}

h1{
font-size: 50px;
text-decoration: underline;
}
h2{
font-size: 40px;
margin-left: 50px;
}
ul li p{
color: white;
font-size: 25px;
margin-left: 50px;
display:inline;
}

#kep1{
  bottom: 10px;
  right: 10px;
  width: 200px;
  position: fixed;
}